# Python virtual environment
venv/
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# VSCode settings (optional)
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Jupyter checkpoints (if you have any notebooks)
.ipynb_checkpoints/

# Python test cache
.pytest_cache/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Coverage reports
htmlcov/
.coverage

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# MyPy
.mypy_cache/

# Others
*.sqlite3
